<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="dbx" connectionString="Data Source=MAYTINH-93AG5QP;Initial Catalog=quan_ly_sach;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>